@import "./consts";
@import "./dropFile";
@import "./downloadFile";
@import "./common";
@import "./sideDock";
@import "./button";
@import "./select-input";
@import "./languageSettings";

$padding: 2rem;

.App {
  height: 100vh;
  overflow: hidden;
  background-color: $color-secondary;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .content {
    overflow: auto;
  }
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 $padding;

  @media (min-width: $mobile-viewport-size) {
    width: 90%;
    margin: 0 auto;
  }
}

.header.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .settings-info {

  }
}

.drop-file, .download-file {
  margin: 35px 0;
  padding: $section-padding;

  background-color: $color-primary;
  color: $color-secondary;
  box-shadow: 0 14px 28px rgba($color-primary, 0.25), 0 10px 10px rgba($color-primary, 0.22);
}

