@import "./consts";

.btn {
  padding: 0.8rem;
  color: $color-secondary;
  background-color: $color-primary;
  border: 3px solid $color-secondary;
  font-size: 1.6rem;
  line-height: 1;
  outline: none;
  font-weight: 600;
  cursor: pointer;

  &.btn-active, &:hover {
    color: $color-primary;
    background-color: $color-secondary;
    box-shadow: 0 5px 8px rgba($color-secondary, 0.25), 4px 4px 10px rgba($color-secondary, 0.22)
  }

  &.btn-disabled {
    color: rgba($color-secondary, 0.5);
    background-color: $color-primary;
    border-color: rgba($color-secondary, 0.5);
    box-shadow: none;
    cursor: default;
  }
}

.btn.btn-inverted {
  color: $color-primary;
  background-color: $color-secondary;
  border-color: $color-primary;

  &.btn-active, &:hover {
    color: $color-secondary;
    background-color: $color-primary;
    box-shadow: 0 5px 8px rgba($color-primary, 0.25), 4px 4px 10px rgba($color-primary, 0.22)
  }
}
