@import "./consts.scss";


p {

}
a {
  color: inherit;
  text-decoration: none;
}

h3 {
  margin-top: 0;
}

.header {
  h1 {
    margin: 12px 0 4px;
  }
}

.footer {
  p {
    margin: 6px 0 6px;
    font-size: 1.3rem;
  }
}