
// Viewports
$mobile-viewport-size: 576px;
$tablet-viewport-size: 768px;
$desktop-viewport-size: 992px;

// Colors
$color-primary: #9B344E;
$color-secondary: #C6CE8A;
// Lighten colors
$color-primary-light: rgba($color-primary, 0.75);
$color-primary-lighter: rgba($color-primary, 0.2);
$color-secondary-light: rgba($color-secondary, 0.75);
$color-secondary-lighter: rgba($color-secondary, 0.2);

$border-radius: 0;
$border-size: 3px;


$section-padding: 2rem;