@import "./consts";

.App .download-file {
  min-height: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  .download-control {
    padding: 10px;
  }

  $download-link-height: 2.2rem;

  .download-file-list {
    padding: 10px;
    .download-link {

      font-size: 1.6rem;
      line-height: $download-link-height;
      margin-bottom: 0.6rem;

      a {
        border-bottom: 3px solid $color-primary;
        display: inline-block;
        padding-right: 0.4rem;

        &:hover {
          border-bottom-color: $color-secondary;
        }
      }

      svg {
        height: $download-link-height;
        vertical-align: bottom;
        padding-right: 5px;
        fill: $color-secondary;
      }
    }
  }
}