@import "./consts";

.drop-file {
  $section-header-height: 1.5rem;
  $dropzone-height: 24.5rem;

  &.files-dropped .dropzone-wrap .dropzone {
    min-height: $dropzone-height - $section-header-height;
  }

  .drop-file-header {
    text-align: right;
    line-height: 1;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: $section-header-height;

    .clear-files-button {
      color: $color-secondary-light;
      height: $section-header-height;
      cursor: pointer;
      &:hover {
        color: $color-secondary;
      }
    }
  }

  .dropzone-wrap {

    .dropzone {
      min-height: $dropzone-height;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px dashed $color-secondary-lighter;
      //margin-top: 1rem;

      &:hover {
        border-color: $color-secondary-light;
        .dropzone-info {
          color: $color-secondary;
          .graphics svg .fill {
            fill: $color-secondary;
          }
        }
      }

      h5 {
        margin-top: 0;
      }

      p {
        margin: 0 auto;
        line-height: 1.7;
      }

      .dropped-files {
        max-width: 100%;
        word-wrap: break-word;
      }

      .dropzone-info {
        text-align: center;
        color: $color-secondary-light;
        p {
          max-width: 340px;
        }

        &:hover {
          color: $color-secondary;
          .graphics svg .fill {
            fill: $color-secondary;
          }
        }

        .graphics {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;

          svg {
            margin: 0 15px;
            fill: none;

            .fill {
              fill: $color-secondary-light;
            }
          }

          .drag-drop-icon svg {
            height: 10rem;
          }

          .click-icon svg {
            height: 7.5rem;
          }
        }
      }
    }
  }
}