@import "./consts";

html {
  font-size: 8px;

  @media (min-width: $tablet-viewport-size) {
    font-size: 9px;
  }

  @media (min-width: $desktop-viewport-size) {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  #root {
    font-size: 1.6rem;
  }
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}