@import "./consts";

.language-settings {
  .language-select {
    margin-bottom: 1.5rem;
  }
}

.char-map {
  //max-width: 75%;
  //margin: 0 auto;
}

.language-control {
  margin-bottom: 3rem;
  .btn {
    margin: 0 1rem 1rem 0
  }
}

.char-single.char-map-head {
  border-bottom-color: $color-secondary;
  color: rgba($color-secondary, 0.55)
}

.char-single {
  display: flex;
  padding: 1.3rem 0;
  border-bottom: 1px solid $color-secondary-lighter;

  &:last-of-type {
    border-bottom-color: transparent;
  }

  .char-checkbox {
    width: 7rem;
    padding: 0 0 0 2rem;
  }
  .char-control {
    width: 6rem;
    padding: 0 1.2rem 0 0;
    text-align: right;
    .char-delete {
      padding: 0.5rem 1rem;
      cursor: pointer;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -o-user-select: none;
    }
  }

  .char-inputs {
    display: flex;
    flex: 1 1 auto;

    .char-from {
      //flex: 1 1 auto;
      width: 40%;
    }
    .char-to {
      flex: 1 1 auto;
      width: 40%;
    }

    .char-convert-icon {
      //padding: 0 2rem;
      width: 16%;
      text-align: center;

    }
  }
}

//}