@import "./consts";

div.Select.Select--single {
  .Select-control {
    background-color: $color-primary;
    color: $color-secondary;
    border: $border-size solid $color-secondary;
    border-radius: $border-radius;

    .Select-multi-value-wrapper {
      .Select-value .Select-value-label {
        color: $color-secondary !important;
      }
      .Select-input input{
        color: inherit;
      }
      .Select-placeholder {
        color: rgba($color-secondary, 0.55);
      }
    }

    .Select-clear-zone, .Select-arrow {
      color: $color-secondary;
    }
    .Select-arrow {
      border-top-color: $color-secondary;
    }
  }

  .Select-menu-outer {
    border: $border-size solid $color-secondary;
    background-color: $color-primary;
    border-radius: $border-radius;
    border-top-width: 1px;

    .Select-noresults {
      color: rgba($color-secondary, 0.5);
    }

    .Select-option {
      color: $color-secondary;
      background-color: $color-primary;

      &:hover {
        color: $color-primary;
        background-color: $color-secondary;
      }
      &.is-selected {
        color: $color-primary;
        background-color: $color-secondary;
      }
    }
  }
}

div.Select.Select--single.is-open {
  .Select-control {
    .Select-arrow {
      border-bottom-color: $color-secondary;
    }
  }
}

div.dock-body {
  .Select.is-focused:not(.is-open) > .Select-control {
    border-color: $color-secondary;
    background: $color-primary;
    color: $color-primary;
    box-shadow: inset 0 1px 1px rgba($color-secondary, 0.075), 0 0 0 3px rgba($color-secondary, 0.1);
  }
}