@import "./consts";

$side-tab-width: 3.2rem;

.side-dock {
  position: fixed;
  left: 0;
  height: 100%;

  .dock-controller {
    border-bottom: none;

    position: absolute;
    right: 1px;
    transform-origin: right bottom;
    transform: rotate(90deg);
    bottom: 20%;
  }

  .dock-content {
    min-height: 100%;
    color: $color-secondary;
    background-color: $color-primary;
    padding: 1.5rem 3rem;

    .dock-body {
      margin-top: 5rem;
    }
  }
}

